.abt-button{
    vertical-align: baseline;
}

.about-us{
    padding:3%;
    font-size: 1.2em;
}

.about-intro{
    text-align: center;
}

.about-block{
    padding: 1.5%;
}

.tagline{
    text-align: center;
}

.ATBB{
    font-size: 1.1em;
}

.mbr-navbar__brand-img{
	height: auto !important;
	padding-right: 2em;
}

.mbr-hero__text {
	margin: 20px 0 1px 0;
}

.mbr-arrow {
    bottom: 15px;
}

textarea.form-control {
	resize: none;
}

.bio_image{
	border-radius: 50%;	
}