.abt-button{
    vertical-align: baseline;
}

.about-us{
    padding:3%;
    font-size: 1.2em;
}

.about-intro{
    text-align: center;
}

.about-block{
    padding: 1.5%;
}

.tagline{
    text-align: center;
}

.ATBB{
    font-size: 1.1em;
}

.mbr-navbar__brand-img{
	height: auto !important;
	padding-right: 2em;
}

.mbr-hero__text {
	margin: 20px 0 1px 0;
}

.mbr-arrow {
    bottom: 15px;
}

textarea.form-control {
	resize: none;
}

.bio_image{
	border-radius: 50%;	
}

#snackbar {
    visibility: hidden;
    min-width: 250px;
    margin-left: -125px;
    background-color: #faaf40;
    color: #fff;
    text-align: center;
    border: 2px solid white;
    padding: 16px;
    position: fixed;
    z-index: 100;
    left: 50%;
    bottom: 30px;
    font-size: 17px;
}

#snackbar.show {
    visibility: visible;
    -webkit-animation: fadein 0.5s, fadeout 0.5s 2.5s;
    animation: fadein 0.5s, fadeout 0.5s 2.5s;
}

@-webkit-keyframes fadein {
    from {bottom: 0; opacity: 0;} 
    to {bottom: 30px; opacity: 1;}
}

@keyframes fadein {
    from {bottom: 0; opacity: 0;}
    to {bottom: 30px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {bottom: 30px; opacity: 1;} 
    to {bottom: 0; opacity: 0;}
}

@keyframes fadeout {
    from {bottom: 30px; opacity: 1;}
    to {bottom: 0; opacity: 0;}
}